@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Ubuntu:wght@300&family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Ubuntu:wght@300&family=Work+Sans&display=swap');
html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: #74C69D;
}

body {
    display: inline-block;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-title {
    margin-bottom: 0.5em;
    font-family: 'Crimson Text', serif;
    font-size: 50px
}

.section-title {
    margin-bottom: 0.9em;
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(24px, 6vw, 44px);
}

p {
    margin-bottom: 1em;
    font-size: 20px;
    line-height: 1.7em;
}

.white {
    color: #fff;
}
.bg-green {
    background-color: #74C69D;
}
.bg-white {
    background-color: #fff;
}
.center {
    text-align: center;
}