.header {
    padding-top: 0;
    padding-bottom: 0;
}
.header > .row {
    margin-top: 0;
    margin-bottom: 0;
}
.header-content{
    display: inline-block;
    justify-content: space-between;
    align-items: center;

}
.logo {
    width: 187px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-meniu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    
}
.main-meniu > a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1.25em;
    font-weight: 400;
    cursor: pointer;
}
a:hover {
    color: black;
}
.hamburger {
    display: flex;
    
}