.partners-text h5 {
    color: #74C69D;
}

.part .partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 68px;
    margin-left: 75px;
}

.part .learn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(50% - 85px);
}